name: Anthonia's Portfolio Website

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: yarn

      # install dependencies
      - name: Install dependencies
        run: yarn --legacy-peer-deps

      - name: Build for Production
        run: CI='' yarn build

      - name: Executing remote command one
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.PROD_SSH_HOST }}
          USERNAME: ${{ secrets.PROD_SSH_USER }}
          KEY: ${{ secrets.SSH_KEY }}
          script: "cd '${{ secrets.PROD_SPA_PATH }}' && rm -rf ./*"

      - name: Copy file via scp
        uses: appleboy/scp-action@master
        with:
          HOST: ${{ secrets.PROD_SSH_HOST }}
          USERNAME: ${{ secrets.PROD_SSH_USER }}
          KEY: ${{ secrets.SSH_KEY }}
          source: "./dist/*"
          target: ${{ secrets.PROD_SPA_PATH }}

      - name: Executing remote command
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.PROD_SSH_HOST }}
          USERNAME: ${{ secrets.PROD_SSH_USER }}
          KEY: ${{ secrets.SSH_KEY }}
          script: "cd '${{ secrets.PROD_SPA_PATH }}'dist/ && mv * ../ && cd ../ && rm -rf dist/"
